[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
dotenv = "*"
tiktoken = "*"
transformers = "*"
torch = "*"
sentence-transformers = "*"
pypdf = "*"
langchain = "*"
langchain-text-splitters = "*"
langchain-huggingface = "*"
langchain-chroma = "*"
langchain-groq = "*"

[dev-packages]

[requires]
python_version = "3.13"
